
<section>
  <!-- Container -->
  <div class="mx-auto w-full  px-5 py-16 md:px-10 md:py-20 bg-gray-900">
    <!-- Title -->
    <h2 class="items-center text-center text-3xl font-bold md:text-5xl text-white">
      {{ title() }}
    </h2>
    <p class="mx-auto mb-8 mt-4 max-w-lg text-center text-sm text-white sm:text-base md:mb-12">
      {{ description() }}
    </p>
    <!-- List -->
    <ul class="grid gap-5 sm:grid-cols-2 md:grid-cols-4 md:gap-0 mx-auto max-w-7xl text-center">
      @for (feature of featureItems(); track feature.title) {
        <li class="flex flex-col items-center gap-6 md:border-r md:px-10 md:py-4 p-8 md:border-gray-300">
          <p class="text-xl font-semibold text-white">{{ feature.title }}</p>
          <p class="text-center text-sm text-white">
            {{ feature.description }}
          </p>
        </li>
      }
    </ul>
  </div>
</section>

