
<section>
  <!-- Container -->
  <div class="mx-auto w-full  px-5 py-16 md:px-10 md:py-20 bg-gray-900">
    <!-- Title -->
    <h2 class="items-center text-center text-3xl font-bold md:text-5xl text-white">
      Onze waarden en normen
    </h2>
    <p class="mx-auto mb-8 mt-4 max-w-lg text-center text-sm text-white sm:text-base md:mb-12">
      FC landen draagt waarden en normen hoog in het vaandel.
    </p>
    <!-- List -->
    <ul class="grid gap-5 sm:grid-cols-2 md:grid-cols-4 md:gap-0 mx-auto max-w-7xl text-center">
      <li class="flex flex-col items-center gap-6 md:border-r md:px-10 md:py-4 p-8 md:border-gray-300">
        <p class="text-xl font-semibold text-white">Fair play</p>
        <p class="text-center text-sm text-white">
          Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam,
          purus sit.
        </p>
      </li>
      <li class="flex flex-col items-center gap-6 md:border-r md:px-10 md:py-4 p-8 md:border-gray-300">
        <p class="text-xl font-semibold text-white">Moderne club</p>
        <p class="text-center text-sm text-white">
          Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam,
          purus sit.
        </p>
      </li>
      <li class="flex flex-col items-center gap-6 md:border-r md:px-10 md:py-4 p-8 md:border-gray-300">
        <p class="text-xl font-semibold text-white">Ontwikkeling</p>
        <p class="text-center text-sm text-white">
          Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam,
          purus sit.
        </p>
      </li>
      <li class="flex flex-col items-center gap-6 md:border-r md:px-10 md:py-4 p-8 md:border-gray-300">
        <p class="text-xl font-semibold text-white">Sociale verbondenheid</p>
        <p class="text-center text-sm text-white">
          Lorem ipsum dolor sit amet consectetur adipiscing elit ut aliquam,
          purus sit.
        </p>
      </li>
    </ul>
  </div>
</section>

