
<section>
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-16 md:px-10 md:py-20">
    <!-- Title -->
    <h5 class="mb-6 text-center text-xl font-bold md:mb-12">
      Met dank aan onze sponsors
    </h5>
    <!-- Content -->
    <div class="grid grid-cols-2 items-center justify-center gap-8 rounded-md bg-gray-100 p-16 px-8 py-12 sm:grid-cols-4 md:gap-16" tabindex="0">
      @for (logo of currentLogos; track logo) {
        <div class="flex items-center justify-center">
          <img [src]="logo" alt="Sponsor logo" class="max-w-full items-center justify-center sm:max-w-[80%]" />
        </div>
      }
    </div>

    <!-- Navigation arrows -->
    <div class="flex justify-center mt-4 space-x-4">
      <button (click)="prevPage()" class="p-2 rounded-full bg-gray-200 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
        </svg>
      </button>
      <button (click)="nextPage()" class="p-2 rounded-full bg-gray-200 hover:bg-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
        </svg>
      </button>
    </div>
  </div>
</section>
