<header class="bg-gradient-to-bl from-red-900 to-zinc-900">
  <!-- Container -->
  <div class="mx-auto overflow-hidden px-5 py-10 md:px-10 lg:px-20 lg:py-20 ">
    <!-- Component -->
    <div class="flex flex-col items-center gap-y-16 py-10 sm:gap-y-20 lg:py-20">
      <!-- Hero Title -->
      <div class="max-w-3xl">
        <h1 class="m-5 text-center text-3xl font-bold sm:text-4xl md:text-5xl lg:text-6xl text-white">FC Landen.</h1>
        <p class="mx-auto mb-6 text-center text-sm  sm:px-8 sm:text-xl md:px-24 lg:mb-8 text-white">1e provinciale. Meer dan 15 jeugdploegen in interprovenciale en gewestelijke afdelingen. Sluit je aan vanaf 5jaar</p>
        <!-- Hero Button -->
        <div class="mx-auto flex w-36 flex-col justify-center gap-x-5 gap-y-5 sm:w-full sm:flex-row sm:items-start">
          <a href="/blog/jeugdvoetbal/lid-worden" class="flex items-center gap-2 rounded-md border border-solid no-underline border-black bg-white px-6 py-3 text-center font-semibold text-black">
            <img src="https://assets.website-files.com/6458c625291a94a195e6cf3a/64aa5ac1b81f4f0a9b8f0986_play-icon.svg" alt="" class="inline-block h-4 w-4" />
            <p>Lid worden</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Slider -->
  <div class="flex min-w-[90vw] gap-6 overflow-hidden sm:gap-7 py-5 md:display-none">
    <img src="assets/images/home1.jpg" alt="" class="h-auto w-36 rounded-2xl sm:w-72 lg:w-80" />
    <img src="assets/images/home2.jpg" alt="" class="h-auto w-36 rounded-2xl sm:w-72 lg:w-80" />
    <img src="assets/images/home3.jpg" alt="" class="h-auto w-36 rounded-2xl sm:w-72 lg:w-80" />
    <img src="assets/images/home4.jpg" alt="" class="h-auto w-36 rounded-2xl sm:w-72 lg:w-80" />
    <img src="assets/images/home5.jpg" alt="" class="h-auto w-36 rounded-2xl sm:w-72 lg:w-80" />
    <img src="assets/images/home6.jpg" alt="" class="h-auto w-36 rounded-2xl sm:w-72 lg:w-80" />
  </div>
</header>

<div class="iframe-container">
  <iframe id="latestHomeGames" src="https://fclanden.prosoccerdata.com/api/v2/narrowcasting/pages/html/02cc63c1-a203-4a16-9766-60974d60b5d0" height="200px" width="100%"></iframe>
</div>

<app-article-latest id="evenementen" [articlePaths]="homePageData().sections.blogHeader.articlePaths" [title]="homePageData().sections.blogHeader.title" [description]="homePageData().sections.blogHeader.description"></app-article-latest>
<app-features />
<app-article-latest [articlePaths]="homePageData().sections.events.articlePaths" [title]="homePageData().sections.events.title" [description]="homePageData().sections.events.description"></app-article-latest>

<section>
  <!-- Container -->
  <div class="mx-auto w-full max-w-7xl px-5 py-16 sm:px-8 md:px-10 md:py-18 lg:px-12 lg:py-20">
    <!-- Component -->
    <div class="flex flex-col md:flex-row items-center gap-10 md:gap-14 lg:gap-16 bg-gray-100 p-8 sm:p-10 md:p-12">
      <!-- Image -->
      <img src="https://image.jimcdn.com/app/cms/image/transf/none/path/s4a0358ed7d8ec4b6/image/i983729d2cc0ad2a3/version/1735405492/image.jpg" alt="" class="inline-block h-72 w-72 object-cover" />
      <div class="max-w-2xl flex-1">
        <!-- Title -->
        <h2 class="mb-4 text-3xl font-bold md:text-5xl">
          Rust zacht voorzitter
        </h2>
        <p class="mb-6 text-sm text-gray-500 sm:text-base md:mb-10 lg:mb-12">
          De hele club, haar bestuursleden en medewerkers zijn verbijsterd en diep ontzet.
          Gisteren bereikte ons het trieste bericht dat onze voorzitter Tony Thierie totaal onverwacht is overleden.
          Tony was 29 jaar lang een gedreven en gepassioneerde voorzitter van onze club, zijn overlijden is dan ook een ontzettend groot verlies voor de club. We zijn Tony dankbaar voor alles wat hij voor FC Landen heeft betekend.
          Iedereen die wil heeft de mogelijkheid om donderdag 2 januari 2025 te verzamelen op het C-veld om 18u30 om vanuit daar in groep zich naar het funerarium Onckelinx te begeven voor een kruisje te geven.
          We wensen zijn kinderen, kleinkinderen, familieleden en vrienden heel veel sterkte om dit onverwachte verlies te kunnen verwerken.

          Het bestuur van Fc Landen
        </p>
      </div>
    </div>
  </div>
</section>

<app-logos [title]="sponsorsData().title" [allLogos]="sponsorsData().logos" />
<div *appEditor>
  <app-sidebar-editor
    [block]="homePageData()"
    (updateBlock)="onBlockUpdate($event)"
    (blockSave)="onBlockSave($event)"
  />
</div>
