:host {
  display: block;
}
.bubble {
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  opacity: 0.6;
  transition: transform 3s ease-in-out;
}
.parallax-section {
  position: relative;
  overflow: hidden;
}
.content-section {
  position: relative;
  z-index: 10;
}